.Cafe {
  background-image: 
  url(
"https://images.pexels.com/photos/851555/pexels-photo-851555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: "cover";
  height: 100vh;
  font: size 20px;
  background-repeat:no-repeat; 
}
.Cartop {
  background-image: 
  url(
"https://images7.alphacoders.com/119/1191728.jpg");
  background-size:"cover";
  background-position:center;
  background-repeat:no-repeat;
  font: size 30px;
  width:200vh;
  height:auto;
}
.About {
  background-image: 
  url(
"https://images.pexels.com/photos/2986506/pexels-photo-2986506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size:"cover";
  background-position:center;
  background-repeat:no-repeat;
  font: size 30px;
  width:200vh;
  height:auto;
}


