.navigation-bg {
    background-image: url('https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Cartop {
    background-image: 
    url("https://wallpaperaccess.com/full/1157684.jpg");
    background-size:"cover";
    background-position:center;
    background-repeat:no-repeat;
    font: size 30px;
    width:200vh;
    height:auto;
  }